<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Snapguide</title>

  <link rel="stylesheet" type="text/css" href="../static/css/animation.css"/>
  <link rel="stylesheet" type="text/css" href="../static/css/main.css"/>

  <link rel="stylesheet" type="text/css" href="../static/css/responsive.css"/>
</head>
<body>

<h1>
  Image Gallery for: <a id="gallery-title">Unknown</a> by <span id="guide-author">Unknown</span>
</h1>


<div id="content">

</div>

<div id="ajax-throbber">
  <img src="../static/img/ajax-loader.gif"/>
</div>

<script type="text/javascript" src="../static/js/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="../static/js/helpers.js"></script>
<script type="text/javascript" src="../static/js/view.js"></script>
<script type="text/javascript" src="../static/js/model.js"></script>
<script type="text/javascript" src="../static/js/controller.js"></script>


<script type="text/javascript">
  /* <![CDATA[ */
  /**
   * Filter through the json string / data that we get into only the valid steps with image
   * @param data the json string
   * @returns {Array} of valid guides with image
   */
  function getGuides(data) {
    var KEY_GUIDE = 'guide';
    var KEY_ITEMS = 'items';
    var KEY_CONTENT = 'content';
    var KEY_CAPTION = 'caption';
    var KEY_TYPE = 'type';
    var KEY_MEDIA_ITEM = 'media_item_uuid';
    
    var validDataWithImg = [];

    // find all valid data with images in it (steps)
    if (data[KEY_GUIDE] &&
        data[KEY_GUIDE][KEY_ITEMS]) {
      for (var key in data[KEY_GUIDE][KEY_ITEMS]) {
        var value = data[KEY_GUIDE][KEY_ITEMS][key];
        if (value[KEY_CONTENT] &&
            value[KEY_CONTENT][KEY_MEDIA_ITEM]) {
          var dataToPush = value[KEY_CONTENT];
          dataToPush[KEY_TYPE] = value[KEY_TYPE];
          validDataWithImg.push(dataToPush);
        }
      }
    }

    var guides = [];

    // from all valid data with img, create our model
    if (validDataWithImg.length > 0) {
      var index = 0;
      for (var key in validDataWithImg) {
        var value = validDataWithImg[key]; // contains `caption` & `media_item_uuid`
        guides.push(new Guide(value[KEY_MEDIA_ITEM], value[KEY_TYPE], value[KEY_CAPTION], index));
        index++;
      }
    }

    return guides;
  }

  /**
   * Where the magic happens
   * @param data the json string
   */
  function init(data) {
    try {
      var jsonParsed = JSON.parse(data);

      // init title & author (not important)
      var title = document.getElementById('gallery-title');
      var author = document.getElementById('guide-author');
      if (jsonParsed && jsonParsed.guide) {
        var guide = jsonParsed.guide;

        // title
        if (guide.publish_title) {
          title.innerText = guide.publish_title;
        }

        // href
        if (guide.publish_url) {
          title.href = 'http://snapguide.com' + guide.publish_url;
        }

        // author
        if (guide.author && guide.author.name) {
          author.innerText = guide.author.name;
        }
      }

      // initialize model view and controller
      var models = getGuides(jsonParsed);
      var thumbnailsView = new GuideThumbnailsView('content');
      var guideStepView = new GuideStepView('body');
      var controller = new GuideController(models, thumbnailsView, guideStepView);
      controller.initWithThumbnailsView();

      // bind help keys
      document.onkeydown = function (evt) {

        switch (evt.keyCode) {
          case KEY_CODE.ENTER:
            // open selected guide
            if (!guideStepView.isOpen()) {
              controller.loadImageStep(controller.getCurrentGuide());
            }  
            break;
          case KEY_CODE.ESC:
            if (guideStepView.isOpen()) {
              // close current guide
              guideStepView.close(true);
            } else {
              // clear selected and reset selected index
              controller.reset();
            }
            break;
          case KEY_CODE.LEFT_ARROW:
            if (guideStepView.isOpen()) {
              // go to prev guide if guide step view is open
              controller.displayPrevStep();
            } else {
              // go to prev guide on thumbnail view
              controller.toPrevThumbnail();
            }
            break;
          case KEY_CODE.RIGHT_ARROW:
            if (guideStepView.isOpen()) {
              // go to next guide if guide step view is open
              controller.displayNextStep();
            } else {
              // go to next guide on thumbnail
              controller.toNextThumbnail();
            }
            break;
        }

      };

    } catch (e) {
      if (console) console.error(e);
      document.getElementById('content').innerHTML = '<div>Boo hoo! Failed!</div>';
    }
  }

  /**
   * ===== START HERE =====
   */
  addEventOnLoad(window, function () {
    // get our data
    // change guide id if you need to
    XMLHttp.get('http://localhost:5000/get_guide/b995492d5e7943e3b2757a88fe3ef7c6', function (data) {
      init(data);
    });
  });
  /* ]]> */
</script>
</body>
</html>